set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'KICKSTART'

menuentry 'Install CentOS 7' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /vmlinuz ks=hd:LABEL=KICKSTART:/ks.cfg inst.stage2=http://mirrors.kernel.org/centos/7/os/x86_64/
	initrdefi /initrd.img
}
